.table-container {
  width: 100vw;
  overflow-x: scroll;

  table {
    box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;
    color: #444;
    border-collapse: collapse;
  
    tr {
      border-bottom: 1pt solid rgb(213, 211, 211);
    }
  
    th, td {
      padding: 8px;
    }
  
    input {
      border: none;
      line-height: 32px;
    }
  }
}

.table-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 8px;
}

button {
  cursor: pointer;
}